.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 850px;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.button-bar {
  background-color: aqua;
  height: 4rem;
}

/* PRODUCTS LIST */
.search-bar {
  /* background-color: rgb(153, 153, 153); */
  height: 4rem;
}
.products-list {
  background-color: bisque;
  flex-grow: 1;
}

/* PRODUCT DETAIL */
.product-detail-cont {
  background-color: bisque;
  flex-grow: 1;
}

/* PRODUCT FORM */
.product-form-cont {
  background-color: bisque;
  flex-grow: 1;
}
