.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 850px;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.button-bar {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

/* PRODUCTS LIST */
.search-bar {
  padding-bottom: 0.5rem;
}
.products-list {
  margin: 0;
  padding: 0;
  height: calc(100vh - 12.5rem);
  overflow: auto;
}

/* PRODUCT DETAIL */
.product-detail-cont {
  background-color: bisque;
  flex-grow: 1;
}

/* PRODUCT FORM */
.product-form-cont {
  background-color: bisque;
  flex-grow: 1;
}
